<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlink}}
</head>
<body>

    <img width="600px" height="400px" style="margin: auto;" src="images/errorimg.png" alt="error">
         <a href="/"><button class="chnow">BACK TO HOME</button></a>
</body>
</html>