<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlink}}
</head>
<body>
 {{!-- nav bar start   --}}

{{>navbar}}

 {{!-- nav bar end   --}}

 {{!-- min body start   --}}
  <div class="check">
      <div class="b1">
        <h3>welcome to weather App</h3>
        <h1>Get The Latest <span class="blue">Weather</span> Info of Your City</h1>
        <a href="/weather"><button class="chnow">CHECK NOW</button></a>
      </div>
      <div class="b2">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/one.png" class="slideimg" alt="first">
            </div>
            <div class="carousel-item">
              <img src="images/two.png" class="slideimg" alt="second">
            </div>
            <div class="carousel-item">
              <img src="images/three.png" class="slideimg" alt="third">
            </div>
            <div class="carousel-item">
              <img src="images//four.png" class="slideimg" alt="fourth">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
 {{!-- mid body end   --}}

 {{!-- Footer start  --}}

{{>footer}}

 {{!-- Footer end   --}}
  

    
</body>
</html>