<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Weather</title>
</head>
<body>
    <!-- Footer start -->
<div id="footer">
  <div class="footerline">
<h3>Made With Love From Team Weather ♥</h3>
  </div>
 <!-- navbar menu -->
 <div>
  <ul class="flex">
  <li><a href="/">Home</a></li>                    
  <li><a href="/weather">Weather</a></li>
  <li><a href="/about">About</a></li>
  </ul>
  </div>
  <!-- /.navbar-collapse -->

</div>
<!-- Footer end  -->
</body>
</html>